# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
.env/
venv/
Pipfile.lock

# Logs
*.log
logs/

# Miscellaneous
*.swp
.DS_Store
*.bak
*.tmp

# Project Specific
{{ project_name }}/.idea
